<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>글쓰기</title>
</head>
<body>
<div th:replace="fragments/nav :: nav"></div>
<a href="/main">
  <button>🏠 홈으로</button>
</a>
<h2>📝 글쓰기</h2>
<form th:action="@{/posts}" method="post" enctype="multipart/form-data">
  <label>제목: <input type="text" name="title" required /></label><br><br>
  <label>내용:</label><br>
  <textarea name="content" rows="8" cols="50" required></textarea><br><br>
  <label>파일 업로드: <input type="file" name="file"></label><br>
  <button type="submit">등록</button>
</form>
<a href="/posts"><button type="button">목록으로</button></a>
</body>
</html>
