<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상품 목록</title>
</head>
<body>
<h1>상품 목록</h1>

<table border="1">
    <tr>
        <th>이미지</th>
        <th>ID</th>
        <th>상품명</th>
        <th>가격</th>
        <th>상세보기</th>
    </tr>
    <tr th:each="product : ${products}">
        <td>
            <img th:src="@{'/uploads/' + ${product.imageFilename}}" width="100">
        </td>
        <td th:text="${product.id}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.price}"></td>
        <td>
            <a th:href="@{/products/{id}(id=${product.id})}">상세보기</a>
        </td>
    </tr>
</table>
//
<br>
<a href="/products/new"><button>상품 등록</button></a>
<a href="/main"><button>메인으로</button></a>
</body>
</html>
